.new_user {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1.5vh;
  background-color: white;
  border-top: 3px solid var(--border-color);
  border-bottom: 3px solid var(--border-color);
}

.sign-field {
  width: 100%;
  justify-content: center;
  height: 6vh;
  border: none;
}

.new_user input {
  width: 90%;
  border: none;
  outline: none;
  border-bottom: 3px solid var(--border-color);
}

.recovery {
  color: var(--placeholder-color);
}

.sign-password {
  display: flex;
  justify-content: center;
  margin-top: 3vh;
}

.sign-field:last-child input {
  border: none;
}

.new_user input::placeholder {
  color: var(--placeholder-color);
  font-weight: var(--headline-weight);
}
